# vim swap
[._]*.s[a-v][a-z]
[._]*.sw[a-p]
[._]s[a-rt-v][a-z]
[._]ss[a-gi-z]
[._]sw[a-p]

# session
Session.vim

# temporary
.netrwhist
*~
# persistent undo
[._]*.un~

# handled by plugin manager (plugged)
autoload/
plugged/
